<template>
<div>
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave" id="status">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->

    <!-- Header ================================================== -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col--md-4 col-sm-4 col-xs-4">
                    <a href="index.html" id="logo">
                        <img src="img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                        <img src="img/logo.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                    </a>
                </div>
                <nav class="col--md-8 col-sm-8 col-xs-8">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img/logo.png" width="190" height="23" alt="" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/" class="show-submenu">Home</a>
                            </li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#login_2">Login</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div><!-- End main-menu -->
                </nav>
            </div><!-- End row -->
        </div><!-- End container -->
    </header>
    <!-- End Header =============================================== -->

    <router-view></router-view>

    <!-- Footer ================================================== -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-3">

                </div>
            </div><!-- End row -->
            <div class="row">
                <div class="col-md-12">
                    <div id="social_footer">
                        <ul>
                            <li><a href="https://m.facebook.com/cheezzypizza/"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://twitter.com/CheezzyPizza"><i class="icon-twitter"></i></a></li>
                            <!-- <li><a href="#0"><i class="icon-google"></i></a></li>
                                <li><a href="#0"><i class="icon-instagram"></i></a></li>
                                <li><a href="#0"><i class="icon-vimeo"></i></a></li>  -->
                            <li><a href="https://www.youtube.com/watch?v=wt5v0g4sNxI&feature=emb_logo"><i class="icon-youtube-play"></i></a></li>
                        </ul>
                        <p>
                            © Cheezy Pizza 2020
                        </p>
                    </div>
                </div>
            </div><!-- End row -->
        </div><!-- End container -->
    </footer>
    <!-- End Footer =============================================== -->

    <div class="layer"></div><!-- Mobile menu overlay mask -->

    <!-- Login modal -->
      <div class="modal " id="login_2" tabindex="-1" role="dialog"  aria-labelledby="myLogin" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-popup">
                <a href="#" class="close-link"><i class="icon_close_alt2" @click="closeLoginModal()"></i></a>
                <form action="#" class="popup-form" id="myLogin">
                    <div class="login_icon"><i class="icon_lock_alt"></i></div>
                    <input type="text" class="form-control form-white" placeholder="Username">
                    <input type="text" class="form-control form-white" placeholder="Password">
                    <div class="text-left">
                        <a href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- End modal -->
</div>
</template>

<script>
export default {
    
    methods: {
        closeLoginModal: function() {
            $('#login_2').modal('toggle')
        }
    }
}
</script>

