@import url("animate.min.css"); 								/* Animate */
@import url("bootstrap.min.css"); 								/* Main Bootstrap */
@import url("menu.css");										/* Menu styles */
@import url("style.css");										/* Main theme styles */
@import url("responsive.css");									/* Responsive */
@import url("elegant_font/elegant_font.min.css");				/* Icon pack */
@import url("fontello/css/fontello.min.css");					/* Icon pack */
@import url("magnific-popup.css");								/* Lightbox & dialog script */
@import url("pop_up.css");										/* Popup Advertising */
@import url("custom.css");										/* Your custom css in order to apply updates easly */


.overlay{
    position: absolute;
    background: black;
    top:  0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


#sub_content {
    z-index : 5 !important;
    position:relative;
}
/*
How to change colors
1) uncomment one of the color variation below
DONE!
*/

/*@import url("color_scheme.css");					 	 			Your color scheme*/

