<template>
<div>
    <section class="parallax-window" data-parallax="scroll" data-image-src="img/sub_header_2.jpg" data-natural-width="1400" data-natural-height="470">
        <div id="subheader" style="background: url(img/sub_header_cart.jpg);">
            <div class="overlay"></div>
            <div id="sub_content" class="animated zoomIn">
                <div id="thumb"><img src="img/thumb_restaurant.jpg" alt=""></div>
                <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="#">Read 98 reviews</a></small>)</div>
                <h1>{{branchName}}</h1>
                <div><em>{{branchId}}</em></div>
                <div><i class="icon_pin"></i>{{location}}</div>
            </div><!-- End sub_content -->
        </div><!-- End subheader -->
    </section>
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div>
    <div class="container margin_60_35" style="transform: none;">
        <div class="row" style="transform: none;">

            <div class="col-md-3">
                <p><a href="#0" class="btn_side">Back to search</a></p>
                <div class="box_style_1" v-if="categories">
                    <ul id="cat_nav" v-for="cat in categories" :key="cat.id">
                        <li><a :href="'#'+cat.id" class="active">{{cat.name}} <span>( {{cat.products.length }})</span></a></li>
                    </ul>
                </div><!-- End box_style_1 -->

                <div class="box_style_2 hidden-xs" id="help">
                    <i class="icon_lifesaver"></i>
                    <h4>Need <span>Help?</span></h4>
                    <a href="#" class="phone">0544133397</a>
                    <small>opens at {{ open_time}}</small>
                </div>
            </div><!-- End col-md-3 -->

            <div class="col-md-6">
                <div class="box_style_2" id="main_menu">
                    <h2 class="inner">Menu</h2>
                    <div v-for="cat in categories" :key="cat.id">
                        <h3 class="nomargin_top" :id="cat.id">{{cat.name}}</h3>
                        <p>
                            Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum deleniti sit ea.
                        </p>
                        <table class="table table-striped cart-list">
                            <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="product in cat.products" :key="product.id">
                                    <td>
                                        <figure class="thumb_menu_list"><img src="img/menu-thumb-1.jpg" alt="thumb"></figure>
                                        <h5> {{ product.name}}</h5>
                                        <p>
                                            {{product.description}}
                                        </p>
                                    </td>
                                    <td>
                                        <strong>₵{{product.price}}</strong>
                                    </td>
                                    <td class="options"  >
                                        <div class="dropdown dropdown-options dropup">
                                            <a v-if="product.sizes" href="#" class="dropdown-toggle" data-toggle="dropdown" @click="GetQuantityOrSize(product.sizes.length, product)" aria-expanded="true" ><i class="icon_plus_alt2"></i></a>
                                            <div class="dropdown-menu" style="" v-if="product.sizes.length > 0">                                               
                                                <h5>Select an option</h5>
                                                <div v-for="size in product.sizes" :key="size.id">
                                                      <label>
                                                       <input @change="prepAdditionalData($event, size, product)" type="radio" value="option1" name="options_1" checked="">{{size.name}} <span> ₵ {{product.price + size.pivot.additional_price }} </span>
                                                     </label>
                                                </div>
                                                <a href="#0" class="add_to_basket" @click="GetProductQuantity(product)">Add to cart</a>
                                            </div> 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
						      <hr>
                    </div>
              


                </div><!-- End box_style_1 -->
            </div><!-- End col-md-6 -->

            <!-- Orders goes here -->
            <OrdersList :orders=orders @removeOrderItem="removeOrderItem($event)">
                <a class="btn_full" href="/carts" :disabled="enableOdDisablebtn">Order now</a>
            </OrdersList> 

        </div><!-- End row -->
    </div>
</div>
</template>

<script>

import OrdersList from '../components/orders.list.component'

export default {
    data() {
        return {
            categories: [],
			branchId:'',
			branchName:'',
            location:'',
            open_time:'',
            orders: [
               
            ],
            enableOdDisablebtn: false		
        }
    },
    components: {
        OrdersList
    },
    methods: {
        GetAllCategoriesAndProducts() {
            axios.get('/api/v1/branch/' + this.branchId + '/products')
                .then((response) => {                    
                    // handle success
                    // console.log(response.data, 'untamed')
                    // console.log("My data :" + response.data.data, ' full auto')

                    let datalist = response.data['data']
                    // console.log(datalist, ' All data, its type: ', typeof datalist)
                    if(response.data.status){
                        // console.log(" Categories :" + response.data.data);
                        for(let lit of datalist) {
                            // console.log(lit, 'came here continue')
                            this.categories.push(lit)
                        } 
                    }
                    else{
                        console.log("empty " + response.data)
                    }  
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
        },
        GetQuantityOrSize(size, product){

            if(size <= 0) {
                this.GetProductQuantity(product);
            }
        },
        GetProductQuantity(product){
            swal.fire({
                title: 'Choose Quantity',
                input: 'number',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'confirm',
                showLoaderOnConfirm: true,
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                 if(result.isConfirmed) {
                  if(result.value < 1){
                     result.value =1 
                  }
                    const quantity = result.value

                    if(product) {

                        const storedOrdersData = localStorage.getItem('orders')

                         const orderData = {
                            orderId: product.id,
                            name: product.name,
                            quantity,
                            price: product.price,
                            additional: product.additional
                        }

                        this.orders.push(orderData)

                        if(storedOrdersData) {

                            let storeOrders = JSON.parse(storedOrdersData)
                            
                            storeOrders = [ ...storeOrders, orderData ]

                            localStorage.setItem('orders', JSON.stringify(storeOrders))

                        } else {

                            localStorage.setItem('orders', JSON.stringify([ orderData ]))
                        }
  
                    }
                 }
            })
        },
        removeOrderItem(orderId) {

            const otherOrders = this.orders.filter(order => order.orderId != orderId)

            this.orders = [ ...otherOrders ]

            const storedOrdersData = localStorage.getItem('orders')
// nice one last issue when u dont add any quantity it adds it to the cart eg
            if(storedOrdersData) {

                localStorage.setItem('orders', JSON.stringify(this.orders))

            }
        },
        getAdditionalData(size) {
            console.log(size)
        },
        prepAdditionalData(e, size, product) {
            console.log(size)
            const name = size.name
            const price = size.pivot.additional_price

            product.additional = {
                name, price
            }
        }
    },

    created() {
        this.branchId = localStorage.getItem('branchId')
        console.log("My branch Id :" , this.branchId);
		this.branchName = localStorage.getItem('branchName')
        this.location = localStorage.getItem('location')
        this.open_time = localStorage.getItem('openingTime')
        this.GetAllCategoriesAndProducts();


        let storedOrdersData = localStorage.getItem('orders')

        if(storedOrdersData) {

            const storeOrders = JSON.parse(storedOrdersData)

            this.orders = storeOrders
        }
    }
}
</script>


<style scoped>
    .show{
 height: 180px;
 position: absolute;
    }
</style>