<template>
<div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; top: 80px; left: 1048.3px;">
        <div id="cart_box">
            <h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
            <table class="table table_summary">
                <tbody>
                    <Order v-for="(order, index) in orders" :key="index" :order=order @removeOrderItem="removeOrderItem($event)"  />

                    <span v-if="!orders.length" style="width: 100%;" class="text-center">You have no orders</span>
                </tbody>
            </table>


            <!-- DELIVERY METHOD -->
            <hr>
            <div class="row" id="options_2">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" checked name="option_2" class="icheck">Delivery</label>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                    <label><input type="radio" value="" name="option_2" class="icheck">Take Away</label>
                </div>
            </div><!-- Edn options 2 -->


            <!-- SUMMARY -->
            <hr>
            <table class="table table_summary">
                <tbody>
                    <tr>
                        <td>
                            Subtotal <span class="pull-right" v-if="this.orders.length">₵{{ getSubTotal }}</span> <span class="pull-right" v-else>----</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Delivery fee <span class="pull-right">₵10</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="total">
                            TOTAL <span class="pull-right" v-if="this.orders.length">₵{{ getTotal }}</span> <span class="pull-right" v-else>----</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <!-- <a class="btn_full" href="/carts" :disabled="enableOdDisablebtn">Order now</a> -->
            <slot></slot>
        </div><!-- End cart_box -->
    </div><!-- End theiaStickySidebar -->
</div><!-- End col-md-3 -->
</template>

<script>

import Order from './order.component'

export default {
    name: 'orders-list',
    data() {
        return {
            enableOdDisablebtn : true
        }
    },
    components: {
        Order
    },
    props: {
        orders: Array
    },
    methods: {
        removeOrderItem(orderId) {
            this.$emit('removeOrderItem', orderId)
        }
    },
    computed: {
        getSubTotal: function() {

            return this.orders.reduce((a, b) => a + (b.price * b.quantity), 0)
        },
        getTotal: function() {
            return this.getSubTotal + 10
        }
    }
}
</script>