<template>
<tr>
    <td>
        <a href="#0" class="remove_item" @click="removeOrderItem"><i class="icon_minus_alt"></i></a> <strong>{{ order.quantity }}x</strong> {{ getOrderName }}
    </td>
    <td>
        <strong class="pull-right">₵{{ getOrderPrice }}</strong>
    </td>
</tr>
</template>

<script>
export default {
    name: 'order-item',
    props: {
        order: {
            type: Object
        }
    },
    methods:{
        removeOrderItem(){

            const orderId = this.order.orderId

            this.$emit('removeOrderItem', orderId)
        }
    },
    computed: {
        getOrderName() {

            if(this.order.additional) {

                return this.order.name = `${this.order.name}(${this.order.additional.name})`
            }

            return this.order.name
        },
        getOrderPrice() {

            if(this.order.additional) {

                return this.order.price + this.order.additional.price
            }

            return this.order.price
        }
    }
}
</script>
